{% extends "base.html" %}
{% load static %}

{% block title %}Каталог{% endblock %}
{% block content %}
    <div class="container">
        <div class="header">
            <h1><a href="/catalog">Каталог</a></h1>
        </div>
        <div class="sort-block">
            <b>
                Сортировать по:
                <b style="margin: 10px"></b><a href="/catalog/?sort=alph">Названию</a></b>
                <b style="margin: 10px"><a href="/catalog/?sort=high">Цене ↓</a></b>
                <b style="margin: 10px"><a href="/catalog/?sort=low">Цене ↑</a></b>
            </p>

        </div>
        <div class="content"  >
            {% for i in phones %}
            <div class = 'product_name' style="color:#007bff" >
                <h1>{{i.name}}</h1>
            </div>
            <div class="price" >
                <h6>Стоимость: {{i.price}}р.</h6>
            </div>
            <div class="image">
                <img src={{i.image}} width='250'>
            </div>
            {% endfor %}
        </div>

    </div>
{% endblock %}